* {
    margin: 0;
}

img {
    display: none;
}

#canvas1 {
    display: block;
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
#fullScreenButton {
    position: absolute;
    font-size: 20px;
    padding: 10px;
    top: 10px;
    left: 10px;
    min-width: 100%;
    /*transform: translateX(-50%);*/
}